@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "Got";
  src: url("../got.ttf"); }
body {
  margin: 0;
  font-family: Got !important;
  letter-spacing: 1px; }

/*fondo default*/
.body1 {
  background-image: url(../images/fondomadera.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
  text-align: center;
  box-sizing: border-box;
  color: black; }

/*navegacion principal*/
header {
  width: 100%;
  position: fixed;
  z-index: 100; }

.topnav {
  overflow: hidden;
  background-image: url(../images/navbar.jpg);
  background-size: 100% 100%;
  height: 11vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 15%;
  padding-top: 0.6%;
  padding-bottom: 0.6%;
  padding-right: 15%; }

.topnav a {
  float: left;
  display: flex;
  color: #f2f2f2;
  text-align: center;
  align-items: center;
  padding: 1% 1%;
  text-decoration: none;
  font-size: 17px;
  letter-spacing: normal; }

.topnav a:hover {
  background-color: #ddd;
  color: black; }

.topnav a.active {
  background-color: transparent;
  color: white;
  padding-left: 15%; }

.topnav .icon {
  display: none; }

.topnav2 a {
  color: black; }

.topnav2 {
  background-image: url(../images/headNavPerg.png); }

.logo img {
  position: absolute;
  width: 16.5%;
  top: 0%;
  left: 41.5%; }

@media screen and (max-width: 600px) {
  .topnav a:not(:nth-child(3)) {
    display: none; }

  .topnav a.icon {
    float: right;
    display: block; } }
@media screen and (max-width: 600px) {
  .logo img {
    left: 0;
    width: 25%; }

  .topnav {
    display: block;
    background-image: none;
    background-color: black;
    padding-left: 0%;
    padding-right: 0%;
    height: 100%; }

  .topnav2 {
    background-color: transparent;
    background-image: url(../images/headNavPergChico.png); }

  .topnav.responsive {
    position: relative; }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0; }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center; } }
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  background-image: url(../images/navbar.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white; }

/*navegacion de temporadas y personajes*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2.6%;
  background-image: url(../images/fotterperg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box; }

/*pestaña inicio*/
/*seccion 1*/
.seccion1 {
  position: relative;
  height: 100vh;
  overflow: hidden;
  padding-top: 14%;
  background-image: url(../images/fondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; }

.titulo {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%; }

/*seccion 2*/
.seccion2 {
  position: relative;
  height: 100vh;
  background-image: url(../images/fondoaleat.jpg);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(3, 30%);
  grid-gap: 5%; }

.seccion__text {
  color: #dddddd;
  font-size: 0.8vw;
  line-height: 160%;
  display: flex;
  align-items: center; }

.seccion--color {
  background-color: #0B3847;
  padding: 0 10px;
  border-radius: 20px; }

.seccion--color2 {
  background-color: #0B3847;
  padding: 0 10px;
  border-radius: 20px; }

.p1 {
  grid-row: 1;
  grid-column: 1/3; }

.p2 {
  grid-row: 2;
  grid-column: 2/4; }

.p3 {
  grid-row: 3;
  grid-column: 1/3; }

.seccion2 img {
  width: 100%;
  height: 100%;
  border-radius: 10px; }

/*seccion 3*/
.seccion3 {
  position: relative;
  height: 75vh;
  background-image: url(../images/fondo2bis.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: Got;
  box-sizing: border-box; }

.valar {
  background-image: url(../images/estandarte.png);
  background-size: 100% 100%;
  padding: 1%;
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.7vw;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.75);
  text-align: center;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.75));
  box-sizing: border-box; }

.morghulis {
  background-image: url(../images/morghulis.jpg);
  background-size: 100% 100%;
  position: relative;
  width: 50%;
  height: 50%; }

.dohaeris {
  background-image: url(../images/dohaeris.jpg);
  background-size: 100% 100%;
  position: relative;
  width: 50%;
  height: 50%; }

/*seccion 4*/
.seccion4 {
  position: relative;
  height: 100vh;
  background-image: url(../images/fondoaleat.jpg);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(3, 30%);
  grid-gap: 5%;
  box-sizing: border-box; }

.p1 {
  grid-row: 1;
  grid-column: 1/3; }

.p2 {
  grid-row: 2;
  grid-column: 2/4; }

.p3 {
  grid-row: 3;
  grid-column: 1/3; }

.seccion4 img {
  width: 100%;
  height: 100%;
  border-radius: 10px; }

@media only screen and (max-width: 600px) {
  .text1 {
    font-size: 100%; }

  nav li, .nav2 li {
    font-size: 10%; }

  .titulo {
    width: 90%; }

  .seccion2, .seccion4 {
    grid-template-rows: repeat(6, 12%);
    grid-template-columns: 1fr;
    text-align: center;
    background-image: none;
    background-color: #000C12;
    padding: 1%; }

  .p1 {
    grid-row: 1;
    grid-column: 1; }

  .p2 {
    grid-row: 3;
    grid-column: 1; }

  .p3 {
    grid-row: 5;
    grid-column: 1; }

  .seccion2 img, .seccion4 img {
    width: 50%;
    height: 100%;
    display: block;
    margin: auto; }

  .seccion__text {
    font-size: 2vw; }

  .seccion3 {
    flex-direction: column; }

  .valar {
    width: 60%;
    font-size: 3vw; } }
/*formulario boostrap*/
.formulario {
  position: relative;
  padding: 11%;
  background-image: url(../images/fondo2bis.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center; }

@media only screen and (max-width: 600px) {
  .seccion3, .seccion4, .formulario {
    background-size: 180% 100%; } }
/*pestaña temporadas*/
.temporadas {
  position: relative;
  width: 70vw;
  height: 100%;
  padding-top: 8.5%;
  padding-bottom: 15%;
  margin: 0 auto;
  background-image: url(../images/pageperg.png);
  background-repeat: repeat-y;
  background-position: center;
  background-size: 100% 50%;
  font-family: Got; }

.section0 {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 160%;
  background-image: url(../images/titulotemp.png);
  background-size: 90% 90%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5%;
  font-size: 5vw; }

.section {
  position: relative;
  height: 80vh;
  width: 70vw;
  border-top: solid;
  border-top-style: double;
  display: grid;
  grid-template-columns: 30% 15% 15% 30%;
  grid-template-rows: repeat(5, 16%);
  grid-gap: 5%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 8%;
  padding-bottom: 8%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

.cap {
  position: relative;
  background-image: linear-gradient(#feac48, #ffdd9f);
  border-radius: 10%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60%;
  box-sizing: border-box;
  box-shadow: 23px 15px 27px 2px rgba(0, 0, 0, 0.75);
  transition: transform .3s; }

.cap:hover {
  transform: scale(1.2); }

.cap0 {
  opacity: 0; }

.aside {
  height: 90%;
  width: 90%;
  border: 1px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%;
  border-radius: 50px 20px;
  box-sizing: border-box;
  box-shadow: 23px 15px 27px 2px rgba(0, 0, 0, 0.75); }

.aside1 {
  grid-column: 1;
  grid-row: 1/end;
  font-size: 230%;
  text-orientation: upright;
  writing-mode: vertical-rl;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

.aside2 {
  grid-row: 1/3;
  grid-column: 4; }

.aside3 {
  grid-row: 3/4;
  grid-column: 4;
  opacity: 0; }

.aside4 {
  grid-row: 4/6;
  grid-column: 4; }

.temp1 .aside2 {
  background-image: url(../images/Temporadas/t11.jpg); }

.temp1 .aside4 {
  background-image: url(../images/Temporadas/t12.jpg); }

.temp2 .aside2 {
  background-image: url(../images/Temporadas/t21.jpg); }

.temp2 .aside4 {
  background-image: url(../images/Temporadas/t22.jpg); }

.temp3 .aside2 {
  background-image: url(../images/Temporadas/t31.jpg); }

.temp3 .aside4 {
  background-image: url(../images/Temporadas/t32.jpg); }

.temp4 .aside2 {
  background-image: url(../images/Temporadas/t41.jpg); }

.temp4 .aside4 {
  background-image: url(../images/Temporadas/t42.jpg); }

.temp5 .aside2 {
  background-image: url(../images/Temporadas/t51.jpg); }

.temp5 .aside4 {
  background-image: url(../images/Temporadas/t52.jpg); }

.temp6 .aside2 {
  background-image: url(../images/Temporadas/t61.jpg); }

.temp6 .aside4 {
  background-image: url(../images/Temporadas/t62.jpg); }

.temp7 .aside2 {
  background-image: url(../images/Temporadas/t71.jpg); }

.temp7 .aside4 {
  background-image: url(../images/Temporadas/t72.jpg); }

.temp8 .aside2 {
  background-image: url(../images/Temporadas/t81.jpg); }

.temp8 .aside4 {
  background-image: url(../images/Temporadas/t82.jpg); }

.temp1 {
  background-image: url(../images/Temporadas/seasons-got-01.png); }

.temp2 {
  background-image: url(../images/Temporadas/seasons-got-02.png); }

.temp3 {
  background-image: url(../images/Temporadas/seasons-got-03.png); }

.temp4 {
  background-image: url(../images/Temporadas/seasons-got-04.png); }

.temp5 {
  background-image: url(../images/Temporadas/seasons-got-05.png); }

.temp6 {
  background-image: url(../images/Temporadas/seasons-got-06.png); }

.temp7 {
  background-image: url(../images/Temporadas/seasons-got-07.png); }

.temp8 {
  background-image: url(../images/Temporadas/seasons-got-08.png); }

@media only screen and (max-width: 600px) {
  .section {
    grid-template-columns: 40% 40%;
    grid-template-rows: 15% repeat(5, 8%) 15%; }

  .aside1 {
    grid-column: 1/3;
    grid-row: 1;
    writing-mode: horizontal-tb; }

  .aside2 {
    grid-row: 7;
    grid-column: 1/3; } }
/*pestaña personajes*/
.fondoPer {
  position: relative;
  width: 70vw;
  height: 100%;
  padding-top: 8.5%;
  padding-bottom: 5%;
  margin: 0 auto;
  background-image: url(../images/pageperg.png);
  background-repeat: repeat-y;
  background-position: center;
  background-size: 100% 50%;
  font-family: Got; }

.tituloper {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 160%;
  background-image: url(../images/titulotemp.png);
  background-size: 90% 90%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5%;
  font-size: 5vw; }

.personajes {
  padding-left: 5%;
  padding-right: 5%;
  height: 80vh;
  display: grid;
  grid-template-columns: 19% 19% 19% 19% 19%;
  grid-template-rows: 46% 46%;
  grid-gap: 2%;
  justify-content: center;
  align-items: center;
  place-content: center; }

.per {
  background-image: url(../images/estandarte.png);
  background-size: 100% 100%;
  padding-top: 20%;
  padding-bottom: 20%;
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1vw;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.75);
  text-align: center;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.75));
  box-sizing: border-box;
  transition: transform  0.5s ease-in-out; }

.per:hover {
  transform: scale(1.2); }

.per1 {
  padding: 2%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100px;
  height: 100px;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.75));
  border-radius: 2px 5px; }

.perall {
  font-size: 5vw;
  width: 100%;
  height: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.imgall {
  padding: 2%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 200px;
  height: 200px;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.75));
  border-radius: 2px 5px; }

.jon {
  background-image: url(../images/personajes/jon.jpg); }

.daenerys {
  background-image: url(../images/personajes/daenerys.jpg); }

.cersei {
  background-image: url(../images/personajes/cersei.jpg); }

.tyrion {
  background-image: url(../images/personajes/tyrion.jpg); }

.sansa {
  background-image: url(../images/personajes/sansa.jpg); }

.arya {
  background-image: url(../images/personajes/arya.jpg); }

.jaime {
  background-image: url(../images/personajes/jaime.jpg); }

.bran {
  background-image: url(../images/personajes/bran.jpg); }

.ned {
  background-image: url(../images/personajes/ned.jpg); }

.melisandre {
  background-image: url(../images/personajes/melisandre.jpg); }

/*----------------------pestañas mapa-----------------------*/
/*declaracion de variables*/
.map {
  background-image: url(../images/mapa2.jpg);
  height: 95vh;
  background-size: 100% 100%;
  box-sizing: border-box; }

.bodymap {
  overflow-x: hidden; }

.compensador {
  padding: 2%; }

/*DORNE*/
#dorne {
  position: absolute;
  opacity: 0;
  background-image: url(../images/zonas/dornezona.png);
  background-size: 100% 100%;
  height: 56%;
  width: 56%;
  left: 7%;
  top: 47.5%;
  transition: transform 0.5s ease-in-out; }

#dorne1 {
  position: absolute;
  background-image: url(../images/casas/martell.png);
  background-size: 100% 100%;
  height: 15%;
  width: 10%;
  left: 27%;
  top: 70%;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.75)); }

/*TYRELL*/
#tyrell {
  position: absolute;
  opacity: 0;
  background-image: url(../images/zonas/dominiozona.png);
  background-size: 100% 100%;
  height: 23%;
  width: 53%;
  left: 6%;
  top: 31.5%;
  transition: transform 0.5s ease-in-out; }

#tyrell1 {
  position: absolute;
  background-image: url(../images/casas/tyrel.png);
  background-size: 100% 100%;
  height: 9%;
  width: 11%;
  left: 45%;
  top: 35%;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.75)); }

/*BARATHEON*/
#baratheon {
  position: absolute;
  opacity: 0;
  background-image: url(../images/zonas/tormentazona.png);
  background-size: 100% 100%;
  height: 29%;
  width: 43%;
  left: 33%;
  top: 48.5%;
  transition: transform 0.5s ease-in-out; }

#baratheon1 {
  position: absolute;
  background-image: url(../images/casas/baratheon.png);
  background-size: 100% 100%;
  height: 15%;
  width: 9%;
  left: 64%;
  top: 51%;
  box-sizing: content-box;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.75)); }

/*KINGLANDING*/
#kinglanding {
  position: absolute;
  opacity: 0;
  background-image: url(../images/zonas/kingzona.png);
  background-size: 100% 100%;
  height: 24%;
  width: 34%;
  left: 52%;
  top: 30%;
  transition: transform 0.5s ease-in-out; }

#kinglanding1 {
  position: absolute;
  background-image: url(../images/casas/kinglanding.png);
  background-size: 100% 100%;
  height: 12%;
  width: 5%;
  left: 57%;
  top: 37%;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.75)); }

/*LANNISTER*/
#lannister {
  position: absolute;
  opacity: 0;
  background-image: url(../images/zonas/casterlyzona.png);
  background-size: 100% 100%;
  height: 11.5%;
  width: 23%;
  left: 33.5%;
  top: 24%;
  transition: transform 0.5s ease-in-out; }

#lannister1 {
  position: absolute;
  background-image: url(../images/casas/lannister.png);
  background-size: 100% 100%;
  height: 14%;
  width: 10%;
  left: 32%;
  top: 22%;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.75)); }

/*TULLY*/
#tully {
  position: absolute;
  opacity: 0;
  background-image: url(../images/zonas/rioszona.png);
  background-size: 100% 100%;
  height: 17%;
  width: 22.5%;
  left: 51%;
  top: 22%;
  transition: transform 0.5s ease-in-out; }

#tully1 {
  position: absolute;
  background-image: url(../images/casas/tully.png);
  background-size: 100% 100%;
  height: 12.5%;
  width: 8.5%;
  left: 65%;
  top: 27%;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.75)); }

/*ARRYN*/
#arryn {
  position: absolute;
  opacity: 0;
  background-image: url(../images/zonas/arrynzona.png);
  background-size: 100% 100%;
  height: 18%;
  width: 23%;
  left: 70%;
  top: 24%;
  transition: transform 0.5s ease-in-out; }

#arryn1 {
  position: absolute;
  background-image: url(../images/casas/Arryn.png);
  background-size: 100% 100%;
  height: 10%;
  width: 8.5%;
  left: 72%;
  top: 33%;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.75)); }

/*STARK*/
#stark {
  position: absolute;
  opacity: 0;
  background-image: url(../images/zonas/nortezona.png);
  background-size: 100% 100%;
  height: 18%;
  width: 46%;
  left: 54%;
  top: 9.5%;
  transition: transform  ease-in-out; }

#stark1 {
  position: absolute;
  background-image: url(../images/casas/stark.png);
  background-size: 100% 100%;
  height: 8%;
  width: 6%;
  left: 70%;
  top: 15%;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.75)); }

/*simbolo*/
.simbol {
  transition: transform 0.5s; }

.simbol:hover {
  transform: scale(1.2); }

.dorne, .tyrell, .baratheon, .kinglanding, .lannister, .tully, .arryn, .stark {
  transform: scale(1.05);
  animation-name: opc1;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0s; }

@keyframes opc1 {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.tyrell0, .baratheon0, .dorne0, .kinglanding0, .lannister0, .tully0, .arryn0, .stark0 {
  animation-name: opc0;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s; }

@keyframes opc0 {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
/*PAPIRO*/
.papiro {
  position: relative;
  background-image: url(../images/papiro.png);
  background-size: 100% 100%;
  height: 30%;
  width: 30%;
  left: 70%;
  top: 70%;
  padding: 5%;
  box-sizing: border-box; }

#dorneP, #tyrellP, #baratheonP, #kinglandingP, #lannisterP, #tullyP, #arrynP, #starkP {
  position: absolute;
  opacity: 0;
  text-align: center;
  font-size: 80%;
  transition: transform 0.5s ease-in-out;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.papiroT {
  position: relative;
  background-image: url(../images/papiro.png);
  background-size: 100% 100%;
  height: 25%;
  width: 30%;
  left: 1%;
  top: -28%;
  padding-top: 2%;
  box-sizing: border-box; }

#dorneT, #tyrellT, #baratheonT, #kinglandingT, #lannisterT, #tullyT, #arrynT, #starkT {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-align: center;
  font-size: 80%;
  transition: transform 0.5s ease-in-out;
  box-sizing: border-box;
  font-size: 200%; }

@media only screen and (max-width: 600px) {
  .bodymap {
    overflow-y: hidden;
    overflow-x: auto; }

  .map {
    overflow-y: hidden;
    overflow-x: auto; } }
/*pestaña extras*/
.artextras {
  height: 100%;
  background-image: url(../images/fondoaleat.jpg);
  background-size: 100% 100%;
  color: white;
  padding-left: 19%;
  padding-right: 19%;
  padding-bottom: 2%;
  background-repeat: repeat-y;
  box-sizing: border-box; }

.extra {
  position: relative;
  display: flex;
  justify-content: space-around; }

.divisor {
  text-decoration: none !important;
  margin-top: 15%;
  margin-bottom: 4%;
  background-image: linear-gradient(#336B7A, #00172A);
  background-size: 100% 100%;
  height: 20vh;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.75)); }

/*IMAGENES*/
.extraimg {
  box-sizing: border-box;
  height: 63vh;
  width: 61.1vw;
  display: grid;
  justify-self: center;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto auto auto; }

.allimg {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover; }

.imgext1 {
  grid-row: 1/3;
  grid-column: 1/3;
  background-image: url(../images/p1.jpeg); }

.imgext2 {
  grid-row: 3/5;
  grid-column: 5/7;
  background-image: url(../images/p3.jpg); }

.imgext3 {
  background-image: url(../images/Temporadas/t11.jpg); }

.imgext4 {
  background-image: url(../images/Temporadas/t12.jpg); }

.imgext5 {
  background-image: url(../images/Temporadas/t21.jpg); }

.imgext6 {
  background-image: url(../images/Temporadas/t22.jpg); }

.imgext7 {
  background-image: url(../images/Temporadas/t31.jpg); }

.imgext8 {
  background-image: url(../images/Temporadas/t32.jpg); }

.imgext9 {
  background-image: url(../images/Temporadas/t41.jpg); }

.imgext10 {
  background-image: url(../images/Temporadas/t42.jpg); }

.imgext11 {
  background-image: url(../images/Temporadas/t51.jpg); }

.imgext12 {
  background-image: url(../images/Temporadas/t52.jpg); }

.imgext13 {
  background-image: url(../images/Temporadas/t61.jpg); }

.imgext14 {
  background-image: url(../images/Temporadas/t62.jpg); }

.imgext15 {
  background-image: url(../images/Temporadas/t71.jpg); }

.imgext16 {
  background-image: url(../images/Temporadas/t72.jpg); }

.imgext17 {
  background-image: url(../images/Temporadas/t81.jpg); }

.imgext18 {
  background-image: url(../images/Temporadas/t82.jpg); }

/*VIDEOS*/
.extravideo {
  box-sizing: border-box; }

.videosection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.textvideo {
  text-align: center;
  font-size: 2vw; }

.videosection div {
  padding: 0.5%; }

iframe {
  width: 30vw;
  height: 35vh; }

/*# sourceMappingURL=style.css.map */
