 /*pestaña extras*/
 .artextras {
    height: 100%;
    background-image: url(../images/fondoaleat.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    color: white;
    padding-left: 19%;
    padding-right: 19%;
    padding-bottom: 2%;
    background-repeat: repeat-y;
    box-sizing: border-box;
    }

.imgextras{
  padding-left: 18.5%;
  padding-right: 18.5%;
  padding-bottom: 0;
}

.extra {
   position: relative;
   display: flex;
    justify-content: space-around;
}

 .divisor{
    color: white;
    margin-top: 15%;
    margin-bottom: 4%;
    background-color: #023C4A;
    background-image: url(../images/boton.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 15vh;
    width: 25%;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.75));
    transition: transform  0.2s ease-in-out;
  }

  .divisor:hover{
    transform: scale(1.08);
  }
 
.dragon{
  height: 60vh;
  background-image: url(../images/dragon.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.75));
}

@media only screen and (max-width: 600px) {
  
  .artextras{
    background-color: #000C12;
    background-image: none;
    height: 100%;
    padding: 5%;
  }

  .extra{
    flex-direction: column;
  }

  .divisor{
    height: 15vh;
    width: 100%;
  }
}

/*IMAGENES*/
.extraimg{
   box-sizing: border-box;
   height: 63vh;
   width: 61.1vw;
   display: grid;
   justify-self: center;
   grid-template-columns: auto auto auto auto auto auto;
   grid-template-rows:  auto auto auto auto ;
}

.allimg{
   border: 1px solid black;
   height: 100%;
   width: 100%;
   background-position: center;
   background-size: cover;
   transition: transform .3s; 
  }
  
  .allimg:active {
    transform: scale(2); }

.imgext1{
   grid-row: 1/3;
   grid-column: 1/3;
   background-image: url(../images/p1.jpeg);
}

.imgext2{
   grid-row: 3/5;
   grid-column: 5/7;
   background-image: url(../images/p3.jpg);
}

@media only screen and (max-width: 600px) {
  .extraimg{
    grid-template-columns: auto;
    grid-template-rows: auto ;
    height: 200vh;
    width: 90vw;
 }
 .imgext1{
  grid-row: 1/3;
  grid-column: 1/end;
  background-image: url(../images/p1.jpeg);
}

.imgext2{
  grid-row: 9/11;
  grid-column: 1/end;
  background-image: url(../images/p3.jpg);
}
}

.imgext3{
   background-image: url(../images/Temporadas/t11.jpg);
 }

 .imgext4{
   background-image: url(../images/Temporadas/t12.jpg);
 }
   
 .imgext5{
   background-image: url(../images/Temporadas/t21.jpg);
 }

 .imgext6{
   background-image: url(../images/Temporadas/t22.jpg);
 }
     
 .imgext7{
   background-image: url(../images/Temporadas/t31.jpg);
 }

 .imgext8{
   background-image: url(../images/Temporadas/t32.jpg);
 }

 .imgext9{
   background-image: url(../images/Temporadas/t41.jpg);
 }

 .imgext10{
   background-image: url(../images/Temporadas/t42.jpg);
 }

 .imgext11{
   background-image: url(../images/Temporadas/t51.jpg);
 }

 .imgext12{
   background-image: url(../images/Temporadas/t52.jpg);
 }

 .imgext13{
   background-image: url(../images/Temporadas/t61.jpg);
 }

 .imgext14{
   background-image: url(../images/Temporadas/t62.jpg);
 }

 .imgext15{
   background-image: url(../images/Temporadas/t71.jpg);
 }

 .imgext16{
   background-image: url(../images/Temporadas/t72.jpg);
 }

 .imgext17{
   background-image: url(../images/Temporadas/t81.jpg);
 }

 .imgext18{
   background-image: url(../images/Temporadas/t82.jpg);
 }





 /*VIDEOS*/
 
.artextras1{
  height: 100%;
}

 .extravideo{
   box-sizing: border-box;
   display: grid;
   grid-template-columns: auto auto;
   grid-template-rows: auto auto
 }

 .videosection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 }

 .textvideo{
    text-align: center;
    font-size: 2vw;
 }

 .videosection div{
    padding: 0.5%;
 }
  iframe { 
     width: 30vw;
     height: 35vh;
  }

  @media only screen and (max-width: 600px) {
    .extravideo{
      grid-template-columns: auto;
      grid-template-rows: auto auto auto auto;
    }
  
    iframe{
      width: 90vw;
    }
  }


  //PROXIMOS LANZAMIENTOS//
  
.housedragon{
    height: 60vh;
    background-image: url(../images/housedragon.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
