 /*pestaña extras*/
 .extra {
    height: 100vh;
    background-image: url(../images/fondoaleat.png);
    background-size: 100% 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 19%;
    padding-right: 19%; }