/*pestaña inicio*/
  /*seccion 1*/ 

  $size: 100% 100%;
  $color: rgb(221, 221, 221);

  .seccion1 {
    position: relative;
    height: 100vh;
    overflow: hidden;
    padding-top: 14%;
    background-image: url(../images/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; }
  
  .titulo {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
  






  /*seccion 2*/
  .seccion2 {
    position: relative;
    height: 100vh;
    background-image: url(../images/fondoaleat.jpg);
    background-size: $size;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, 30%);
    grid-gap: 5%;
    }

  .seccion__text{
    color: $color;
    font-size: 1.2vw;
    font-family: rubik,helvetica,arial,sans-serif;
    line-height: 130%;
    display: flex;
    align-items: center;
  }

  .seccion--color{
      background-color: #0B3847;
      padding: 0 10px;
      border-radius: 20px; 
  }

  .seccion--color2{
    background-color: #0B3847;
    padding: 0 10px;
    border-radius: 20px; 
  }
  

  .p1 {
    grid-row: 1;
    grid-column: 1/3; }
  
  .p2 {
    grid-row: 2;
    grid-column: 2/4; }
  
  .p3 {
    grid-row: 3;
    grid-column: 1/3; }
  
  .seccion2 img {
    width: 100%;
    height: 100%; 

    border-radius: 10px;
}
  











  /*seccion 3*/
  .seccion3 {
    position: relative;
    height: 80vh;
    background-image: url(../images/fondo2bis.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: $size;
    display: flex;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
    font-family: Got;
    box-sizing: border-box; }
  
  .valar {
    background-image: url(../images/fondodegrad.png);
    background-size: $size;
    padding: 1%;
    width: 25%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.7vw; 
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.75);
    text-align: center;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.75));
    box-sizing: border-box;
    animation: loop;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
  }
@keyframes loop {
  0%{
    transform: translatey(0%);
  }
  50%{
    transform: translateY(-2%);
  }
  100%{
    transform: translateY(0%);
  }
}


  .morghulis {
    background-image: url(../images/morghulis.jpg);
    background-size: $size;
    position: relative;
    width: 72%;
    height: 50%;
  }

  .dohaeris{
    background-image: url(../images/dohaeris.jpg);
    background-size: $size;
    position: relative;
    width: 72%;
    height: 50%;
  }

  .frase{
    width: 50%;
    height: 50%;
    background-image: url(../images/papiro.png);
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding-top: 5%;
    font-size: 1.2vw;
    text-align: center;

  }







  /*seccion 4*/
  .seccion4 {
    position: relative;
    height: 100vh;
    background-image: url(../images/fondoaleat.jpg);
    background-size: $size;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, 30%);
    grid-gap: 5%;
    box-sizing: border-box; }
  
  .p1 {
    grid-row: 1;
    grid-column: 1/3; }
  
  .p2 {
    grid-row: 2;
    grid-column: 2/4; }
  
  .p3 {
    grid-row: 3;
    grid-column: 1/3; }
  
  .seccion4 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
  
  @media only screen and (max-width: 600px) {
    .text1 {
      font-size: 100%; }
  
    .titulo {
      width: 90%; }
  
    .seccion2, .seccion4 {
      grid-template-rows: repeat(6, 12%);
      grid-template-columns: 1fr;
      text-align: center;
      background-image: none;
      background-color: #000C12; 
      padding: 1%;}
  
    .p1 {
      grid-row: 1;
      grid-column: 1; }
  
    .p2 {
      grid-row: 3;
      grid-column: 1; }
  
    .p3 {
      grid-row: 5;
      grid-column: 1; }
  
    .seccion2 img, .seccion4 img {
      width: 50%;
      height: 100%;
      display: block;
      margin: auto; }

    .seccion__text{
      font-size: 2.8vw;
    }

    .seccion3{
      flex-direction: column;

    }

    .valar{
      width: 60%;
      font-size: 3vw;
    }
    .frase{
      width: 100%;
      font-size: 3vw;
    }
  }










      
  /*formulario boostrap*/
  .formulario {
    position: relative;
    padding: 11%;
    background-image: url(../images/fondo2bis.jpg);
    background-size: $size;
    background-repeat: no-repeat;
    background-position: center; }
  
  @media only screen and (max-width: 600px) {
    .seccion3, .seccion4, .formulario {
      background-size: 180% 100%; } }