/*pestaña temporadas*/
.temporadas {
    position: relative;
    width: 70vw;
    height: 100%;
    padding-top: 8.5%;
    padding-bottom: 15%;
    margin: 0 auto;
    background-image: url(../images/pageperg.png);
    background-repeat: repeat-y;
    background-position: center;
    background-size: 100% 50%;
    font-family: Got; }
  
.section0 {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 160%; 
  background-image: url(../images/titulotemp.png);
  background-size: 90% 90%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5%;
  font-size: 5vw;
}

.section {
  position: relative;
  height: 80vh;
  width: 70vw;
  border-top: solid;
  border-top-style: double;
  display: grid;
  grid-template-columns: 30% 15% 15% 30%;
  grid-template-rows: repeat(5, 16%);
  grid-gap: 5%;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 8%;
  padding-bottom: 8%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

.cap {
  position: relative;
  background-image: linear-gradient(#feac48, #ffdd9f);
  border-radius: 10%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60%;
  box-sizing: border-box;
  box-shadow: 23px 15px 27px 2px rgba(0, 0, 0, 0.75);
  transition: transform .3s; }

.cap:hover {
  transform: scale(1.2); }

.cap0 {
  opacity: 0;
}

.aside{
  height: 90%;
  width: 90%;
  border:1px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%;
  border-radius: 50px 20px;
  box-sizing: border-box;
  box-shadow: 23px 15px 27px 2px rgba(0, 0, 0, 0.75);
}


.aside1 {
  grid-column: 1;
  grid-row: 1/end;
  font-size: 230%;
  text-orientation: upright;
  writing-mode: vertical-rl;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

.aside2 {
  grid-row: 1/3;
  grid-column: 4;;
}

.aside3 {
  grid-row: 3/4;
  grid-column: 4;
  opacity: 0;  
}

.aside4 {
  grid-row: 4/6;
  grid-column: 4;;
  }

  
@media only screen and (max-width: 600px) {
  .temporadas {
    width: 94vw;
  }
  
  .section {
    width: 94vw;
    grid-template-columns: repeat(1, 48%);
    grid-template-rows: 15% repeat(5, 8%) 15%; 
  }

  .aside1 {
    grid-column: 1/end;
    grid-row: 1;
    writing-mode: horizontal-tb; 
    font-size: 180%;
  }

  .aside2 {
    grid-row: 7;
    grid-column: 1/2; 
  } 
  
  
  
  .aside3 {
    grid-row: 7;
    grid-column: 1/2; 
  }
  
  .aside4 {
    grid-row: 7;
    grid-column: 2/3;
  }

  }


  
.temp1 .aside2{
  background-image: url(../images/Temporadas/t11.jpg);
}

.temp1 .aside4{
  background-image: url(../images/Temporadas/t12.jpg);
}
  
.temp2 .aside2{
  background-image: url(../images/Temporadas/t21.jpg);
}

.temp2 .aside4{
  background-image: url(../images/Temporadas/t22.jpg);
}
    
.temp3 .aside2{
  background-image: url(../images/Temporadas/t31.jpg);
}

.temp3 .aside4{
  background-image: url(../images/Temporadas/t32.jpg);
}

.temp4 .aside2{
  background-image: url(../images/Temporadas/t41.jpg);
}

.temp4 .aside4{
  background-image: url(../images/Temporadas/t42.jpg);
}

.temp5 .aside2{
  background-image: url(../images/Temporadas/t51.jpg);
}

.temp5 .aside4{
  background-image: url(../images/Temporadas/t52.jpg);
}

.temp6 .aside2{
  background-image: url(../images/Temporadas/t61.jpg);
}

.temp6 .aside4{
  background-image: url(../images/Temporadas/t62.jpg);
}

.temp7 .aside2{
  background-image: url(../images/Temporadas/t71.jpg);
}

.temp7 .aside4{
  background-image: url(../images/Temporadas/t72.jpg);
}

.temp8 .aside2{
  background-image: url(../images/Temporadas/t81.jpg);
}

.temp8 .aside4{
  background-image: url(../images/Temporadas/t82.jpg);
}






.temp1 {
  background-image: url(../images/Temporadas/seasons-got-01.png); }

.temp2 {
  background-image: url(../images/Temporadas/seasons-got-02.png); }

.temp3 {
  background-image: url(../images/Temporadas/seasons-got-03.png); }

.temp4 {
  background-image: url(../images/Temporadas/seasons-got-04.png); }

.temp5 {
  background-image: url(../images/Temporadas/seasons-got-05.png); }

.temp6 {
  background-image: url(../images/Temporadas/seasons-got-06.png); }

.temp7 {
  background-image: url(../images/Temporadas/seasons-got-07.png); }

.temp8 {
  background-image: url(../images/Temporadas/seasons-got-08.png); }

