* {
    margin: 0;
    padding: 0; }
  
  @font-face {
    font-family: "Got";
    src: url("got.ttf"); }
  /*pestaña inicio*/
  
  
  body {
    background-image: url(images/fondomadera.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
    box-sizing: border-box;
    font-family: Got !important; }
  
  /*navegacion principal*/
  header {
    width: 100%;
    position: fixed;
    z-index: 100; }
  
  nav ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    padding: 2.8% 14%;
    background-image: url(images/navbar.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box; }
  
  nav a {
    text-decoration: none;
    color: inherit; }
  
  nav li {
    display: inline-block;
    padding: 0.5%;
    background-color: #000;
    border: 1px solid #000;
    text-align: center;
    font-family: Got;
    font-size: 100%;
    color: #fff;
    border-radius: 15%;
    box-sizing: border-box; }
  
  nav li:hover {
    background-color: #fff;
    color: #000; }
  
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-image: url(images/footer.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white; }
  
  /*navegacion de temporadas y personajes*/
  .logo img {
    position: absolute;
    width: 18%;
    top: 0%;
    left: 41.2%; }
  
  .nav2 ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2.2% 14%;
    background-image: url(images/headNavPerg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box; }
  
  .nav2 li {
    background-color: transparent;
    border: transparent;
    color: black;
    border-radius: 15%;
    box-sizing: border-box;
    padding: 1%; }
  
  .nav2 li:hover {
    background-color: black;
    color: white; }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 2.6%;
    background-image: url(images/fotterperg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
  }
  
  /*pestaña inicio*/
  /*seccion 1*/
  .seccion1 {
    position: relative;
    height: 100vh;
    overflow: hidden;
    padding-top: 14%;
    background-image: url(images/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; }
  
  .titulo {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%; }
  
  /*seccion 2*/
  .seccion2 {
    position: relative;
    height: 100vh;
    background-image: url(images/fondoaleat.png);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, 30%);
    grid-gap: 5%;
    color: white;
    font-size: 90%;
    letter-spacing: 1px;
    line-height: 160%; }
  
  .seccion2 div {
    display: flex;
    align-items: center; }
  
  .p1 {
    grid-row: 1;
    grid-column: 1/3; }
  
  .p2 {
    grid-row: 2;
    grid-column: 2/4; }
  
  .p3 {
    grid-row: 3;
    grid-column: 1/3; }
  
  .seccion2 img {
    width: 100%;
    height: 100%; }
  
  /*seccion 3*/
  .seccion3 {
    position: relative;
    height: 75vh;
    background-image: url(images/fondo2bis.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Got;
    box-sizing: border-box; }
  
  .valar {
    background-image: url(images/fondodegrad.png);
    background-size: 100% 100%;
    width: 18%;
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 130%;
    transition: transform 2s; }
  
  .valar:hover {
    transform: scale(1.2); }
  
  .papirocent {
    background-image: url(images/papiro.png);
    background-size: 100% 100%;
    width: 30%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center; }
  
  .dohaeris, .morghulis {
    animation-name: opc1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 0s; }
  
  @keyframes opc1 {
    from {
      opacity: 0; }
    to {
      opacity: 1; } }
  .dohaeris0, .morghulis0 {
    animation-name: opc0;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s; }
  
  @keyframes opc0 {
    from {
      opacity: 1; }
    to {
      opacity: 0; } }
  #morghu, #doha {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    text-align: center;
    font-size: 80%;
    box-sizing: border-box;
    font-size: 100%;
    transition: transform 2s ease-in-out; }
  
  /*seccion 4*/
  .seccion4 {
    position: relative;
    height: 100vh;
    background-image: url(images/fondoaleat.png);
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, 30%);
    grid-gap: 5%;
    color: white;
    font-size: 140%;
    box-sizing: border-box; }
  
  .p1 {
    grid-row: 1;
    grid-column: 1/3; }
  
  .p2 {
    grid-row: 2;
    grid-column: 2/4; }
  
  .p3 {
    grid-row: 3;
    grid-column: 1/3; }
  
  .seccion4 img {
    width: 100%;
    height: 100%; }
  
  @media only screen and (max-width: 600px) {
    .text1 {
      font-size: 100%; }
  
    nav li, .nav2 li {
      font-size: 10%; }
  
    .titulo {
      width: 90%; }
  
    .seccion2, .seccion4 {
      grid-template-rows: repeat(6, 12%);
      grid-template-columns: 1fr;
      font-size: 60%;
      text-align: center;
      background-size: 160% 100%; }
  
    .p1 {
      grid-row: 1;
      grid-column: 1; }
  
    .p2 {
      grid-row: 3;
      grid-column: 1; }
  
    .p3 {
      grid-row: 5;
      grid-column: 1; }
  
    .seccion2 img, .seccion4 img {
      width: 50%;
      height: 100%;
      display: block;
      margin: auto; } }
  /*formulario boostrap*/
  .formulario {
    position: relative;
    padding: 11%;
    background-image: url(images/fondo2bis.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center; }
  
  @media only screen and (max-width: 600px) {
    .seccion3, .seccion4, .formulario {
      background-size: 180% 100%; } }
  /*pestaña temporadas*/
  .temporadas {
    position: center;
    width: 70vw;
    height: 100%;
    padding-top: 8.5%;
    padding-bottom: 15%;
    margin: 0 auto;
    background-image: url(images/pageperg.png);
    background-repeat: repeat-y;
    background-position: center;
    background-size: 100% 50%;
    font-family: Got; }
  
  .section0 {
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 160%; }
  
  .section {
    position: relative;
    height: 80vh;
    width: 70vw;
    border-top: solid;
    border-top-style: double;
    margin-top: 10%;
    display: grid;
    grid-template-columns: 30% 15% 15% 30%;
    grid-template-rows: repeat(5, 16%);
    grid-gap: 5%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 5%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
  
  .cap {
    position: relative;
    background-image: linear-gradient(#feac48, #ffdd9f);
    border-radius: 10%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60%;
    box-sizing: border-box;
    box-shadow: 23px 15px 27px 2px rgba(0, 0, 0, 0.75);
    transition: transform .3s; }
  
  .cap:hover {
    transform: scale(1.2); }
  
  .aside1 {
    grid-column: 1;
    grid-row: 1/end;
    font-size: 160%;
    text-orientation: upright;
    writing-mode: vertical-rl;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; }
  
  .aside2 {
    grid-row: 1/end;
    grid-column: 4; }
  
  .temp1 {
    background-image: url(images/Temporadas/seasons-got-01.png); }
  
  .temp2 {
    background-image: url(images/Temporadas/seasons-got-02.png); }
  
  .temp3 {
    background-image: url(images/Temporadas/seasons-got-03.png); }
  
  .temp4 {
    background-image: url(images/Temporadas/seasons-got-04.png); }
  
  .temp5 {
    background-image: url(images/Temporadas/seasons-got-05.png); }
  
  .temp6 {
    background-image: url(images/Temporadas/seasons-got-06.png); }
  
  .temp7 {
    background-image: url(images/Temporadas/seasons-got-07.png); }
  
  .temp8 {
    background-image: url(images/Temporadas/seasons-got-08.png); }
  
  @media only screen and (max-width: 600px) {
    .section {
      grid-template-columns: 40% 40%;
      grid-template-rows: 15% repeat(5, 8%) 15%; }
  
    .aside1 {
      grid-column: 1/3;
      grid-row: 1;
      writing-mode: horizontal-tb; }
  
    .aside2 {
      grid-row: 7;
      grid-column: 1/3; } }
  /*pestaña personajes*/
  .fondoPer {
    position: center;
    margin: 0 auto;
    width: 70vw;
    height: 100vh;
    padding-top: 8.5%;
    padding-bottom: 15%;
    background-image: url(images/pageperg.png);
    background-repeat: repeat;
    background-size: 100% 100%;
    background-position: center;
    font-family: Got;
    font-size: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  
  /*pestañas mapa*/
  .map {
    background-image: url(images/mapa2.png);
    height: 95vh;
    background-size: 100% 100%;
    box-sizing: border-box; }
  
  .bodymap {
    overflow-x: hidden; }
  
  .compensador {
    padding: 2%; }
  
  /*DORNE*/
  #dorne {
    position: absolute;
    opacity: 0;
    background-image: url(images/zonas/dornezona.png);
    background-size: 100% 100%;
    height: 56%;
    width: 56%;
    left: 7%;
    top: 47.5%;
    transition: transform 2s  ease-in-out; }
  
  #dorne1 {
    position: absolute;
    background-image: url(images/casas/martell.png);
    background-size: 100% 100%;
    height: 15%;
    width: 10%;
    left: 27%;
    top: 70%;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.75)); }
  
  /*TYRELL*/
  #tyrell {
    position: absolute;
    opacity: 0;
    background-image: url(images/zonas/dominiozona.png);
    background-size: 100% 100%;
    height: 23%;
    width: 53%;
    left: 6%;
    top: 31.5%;
    transition: transform 2s ease-in-out; }
  
  #tyrell1 {
    position: absolute;
    background-image: url(images/casas/tyrel.png);
    background-size: 100% 100%;
    height: 9%;
    width: 11%;
    left: 45%;
    top: 35%;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.75)); }
  
  /*BARATHEON*/
  #baratheon {
    position: absolute;
    opacity: 0;
    background-image: url(images/zonas/tormentazona.png);
    background-size: 100% 100%;
    height: 29%;
    width: 43%;
    left: 33%;
    top: 48.5%;
    transition: transform 2s ease-in-out; }
  
  #baratheon1 {
    position: absolute;
    background-image: url(images/casas/baratheon.png);
    background-size: 100% 100%;
    height: 15%;
    width: 9%;
    left: 64%;
    top: 51%;
    box-sizing: content-box;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.75)); }
  
  /*KINGLANDING*/
  #kinglanding {
    position: absolute;
    opacity: 0;
    background-image: url(images/zonas/kingzona.png);
    background-size: 100% 100%;
    height: 24%;
    width: 34%;
    left: 52%;
    top: 30%;
    transition: transform 2s ease-in-out; }
  
  #kinglanding1 {
    position: absolute;
    background-image: url(images/casas/kinglanding.png);
    background-size: 100% 100%;
    height: 12%;
    width: 5%;
    left: 57%;
    top: 37%;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.75)); }
  
  /*LANNISTER*/
  #lannister {
    position: absolute;
    opacity: 0;
    background-image: url(images/zonas/casterlyzona.png);
    background-size: 100% 100%;
    height: 11.5%;
    width: 23%;
    left: 33.5%;
    top: 24%;
    transition: transform 2s ease-in-out; }
  
  #lannister1 {
    position: absolute;
    background-image: url(images/casas/lannister.png);
    background-size: 100% 100%;
    height: 14%;
    width: 10%;
    left: 32%;
    top: 22%;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.75)); }
  
  /*TULLY*/
  #tully {
    position: absolute;
    opacity: 0;
    background-image: url(images/zonas/rioszona.png);
    background-size: 100% 100%;
    height: 17%;
    width: 22.5%;
    left: 51%;
    top: 22%;
    transition: transform 2s ease-in-out; }
  
  #tully1 {
    position: absolute;
    background-image: url(images/casas/tully.png);
    background-size: 100% 100%;
    height: 12.5%;
    width: 8.5%;
    left: 65%;
    top: 27%;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.75)); }
  
  /*ARRYN*/
  #arryn {
    position: absolute;
    opacity: 0;
    background-image: url(images/zonas/arrynzona.png);
    background-size: 100% 100%;
    height: 18%;
    width: 23%;
    left: 70%;
    top: 24%;
    transition: transform 2s ease-in-out; }
  
  #arryn1 {
    position: absolute;
    background-image: url(images/casas/Arryn.png);
    background-size: 100% 100%;
    height: 10%;
    width: 8.5%;
    left: 72%;
    top: 33%;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.75)); }
  
  /*STARK*/
  #stark {
    position: absolute;
    opacity: 0;
    background-image: url(images/zonas/nortezona.png);
    background-size: 100% 100%;
    height: 18%;
    width: 46%;
    left: 54%;
    top: 9.5%;
    transition: transform 2s ease-in-out; }
  
  #stark1 {
    position: absolute;
    background-image: url(images/casas/stark.png);
    background-size: 100% 100%;
    height: 8%;
    width: 6%;
    left: 70%;
    top: 15%;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.75)); }
  
  .simbol {
    transition: transform 2s; }
  
  .simbol:hover {
    transform: scale(1.2); }
  
  .dorne, .tyrell, .baratheon, .kinglanding, .lannister, .tully, .arryn, .stark {
    transform: scale(1.05);
    animation-name: opc1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 0s; }
  
  @keyframes opc1 {
    from {
      opacity: 0; }
    to {
      opacity: 1; } }
  .tyrell0, .baratheon0, .dorne0, .kinglanding0, .lannister0, .tully0, .arryn0, .stark0 {
    animation-name: opc0;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s; }
  
  @keyframes opc0 {
    from {
      opacity: 1; }
    to {
      opacity: 0; } }
  /*PAPIRO*/
  .papiro {
    position: relative;
    background-image: url(images/papiro.png);
    background-size: 100% 100%;
    height: 30%;
    width: 30%;
    left: 70%;
    top: 70%;
    padding: 5%;
    box-sizing: border-box; }
  
  #dorneP, #tyrellP, #baratheonP, #kinglandingP, #lannisterP, #tullyP, #arrynP, #starkP {
    position: absolute;
    opacity: 0;
    text-align: center;
    font-size: 80%;
    transition: transform 2s ease-in-out;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  
  .papiroT {
    position: relative;
    background-image: url(images/papiro.png);
    background-size: 100% 100%;
    height: 25%;
    width: 30%;
    left: 1%;
    top: -28%;
    padding-top: 2%;
    box-sizing: border-box; }
  
  #dorneT, #tyrellT, #baratheonT, #kinglandingT, #lannisterT, #tullyT, #arrynT, #starkT {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    text-align: center;
    font-size: 80%;
    transition: transform 2s ease-in-out;
    box-sizing: border-box;
    font-size: 200%; }
  
  /*pestaña extras*/
  .extra {
    height: 100vh;
    background-image: url(images/fondoaleat.png);
    background-size: 100% 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 19%;
    padding-right: 19%; }